/* ABOUT COMPONENT */

.aboutContainer {
    background-color: #E8EAE5;
    height: 100vh;
    font-family: Marcellus;
    width: 100%;
}

.aboutIcon {
  height: 150px;
  width: 150px;
  color:#303030;
}

.iconText {
  color:#303030;
  font-style: italic;
}
  
.headerText {
    color: #303030;
    text-align: center;
    font-size: 75px;
}

.paragraph {
    color: #303030;
    text-align: center;
    position: relative;
    max-width: 750px;
}
  
.link {
    margin: 10px;
    color: black;
}

/* PORTFOLIO COMPONENT */

.portfolioContainer {
  width: 100%;
  height: auto;
  font-family: Marcellus;
}

.portfolioHeader {
  font-size: 100px;
  color: #303030;
}

.portImg {
  width: 275px;
  height: 275px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Marcellus;
}

.modal {
  background-color: #E8EAE5;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  margin: 0;
}

.modal-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-image {
  width: 350px;
  height: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
}


/* CONTACT COMPONENT */

.contactContainer {
    background-color: #E8EAE5;
    width: 100%;
    height: auto;
    font-family: Marcellus;
}

.contact-index{
    z-index: 2;
}

.contact-form {
    border: 6px solid;
    border-image: linear-gradient(to bottom right, #5e5e5e, #303030);
    border-image-slice: 1;
    width: 550px;
    height: 350px;
}

.contactHeader {
    color: #303030;
    font-size: 75px;
}


/* FOOTER COMPONENT */

.footerContainer {
  background-color: #E8EAE5;
  width: 100%;
  height: 750px;
  font-family: Marcellus;
  position: relative;
  background: url('../../Images/waveFooter.svg') no-repeat;
  background-size: cover;
}

.footerText {
  color: white;
  margin: 0 auto;
}

.footerLink {
  margin: 5px;
  color: white;
}

.social {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;  /* position the social div at the bottom of the footer container */
  width: 100%;
  height: 50px;
}


/* RESPONSIVE SECTION */

@media (max-width: 600px) {
  .footerText {
    font-size: 14px;
  }
  .footerLink {
    height: 5px;
    width: 5px;
  }
  .headerText {
    font-size: 30px;
  }
  .portfolioHeader {
    font-size: 30px;
  }
  .portfolioContainer{
    height: 950px;
  }
  .portImg {
    height: 175px;
    width: 175px;
  }
  .tagline {
    font-size: 16px;
  }
  .contact-form {
    width: 300px;
    height: 350px;
  }
  .contactHeader{
    font-size: 30px;
  }
}
