/* ABOUT COMPONENT */

.aboutContainer {
    background-color: #E8EAE5;
    /* height: 100vh; */
    font-family: Marcellus;
    width: 100%;
}
  
.svgContainerHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
  
.svgHeader {
    height: 750px;
    z-index: 1;
}
  
.tagline {
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}
  
.link {
    margin: 10px;
    color: black;
}

/* PORTFOLIO COMPONENT */

.portfolioContainer {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  max-width: 1250px;
  margin: 0 auto;
}

.portImg {
  width: 275px;
  height: 275px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Marcellus;
}

.modal {
  background-color: #E8EAE5;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  margin: 0;
}

.modal-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-image {
  width: 350px;
  height: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
}


/* CONTACT COMPONENT */

.contactContainer {
    background-color: #E8EAE5;
    width: 100%;
    font-family: Marcellus;
}

.contact-index{
    z-index: 2;
}

.contact-form {
    border: 6px solid;
    border-image: linear-gradient(to bottom right, #5e5e5e, #303030);
    border-image-slice: 1;
    width: 550px;
    height: 350px;
}

.contact-header {
    color: white;
}


/* FOOTER COMPONENT */

.footerText {
  color: white;
  margin: 0 auto;
}

.svgContainerFooter {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.svgFooter {
  display: flex;
  z-index: 1;
}

.shapeFill {
  fill: #303030;
}

.footerLink {
  margin: 5px;
  color: white;
}

.social {
  position: relative;
  margin-top: 30%;
  z-index: 3;
}


/* RESPONSIVE SECTION */

@media (max-width: 600px) {
  .svgHeader {
    height: 600px;
  }
  .footerText {
    font-size: 14px;
  }
  .footerLink {
    height: 5px;
    width: 5px;
  }
  .social {
    margin-top: 26%;
  }
  .svgPortfolio {
    height: 600px;
  }
  .tagline {
    font-size: 16px;
  }
  .contact-form {
    width: 300px;
    height: 350px;
  }
}
