/* CONTAINERS */

.allContainer {
  background-color: #E8EAE5;
  height: 100vh;
  font-family: Marcellus;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.contactContainer {
  background-color: #E8EAE5;
  font-family: Marcellus;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footerContainer {
  background-color: #E8EAE5;
  width: 100%;
}

.noAccessContainer {
  background-color: #E8EAE5;
  height: 100vh;
  font-family: Marcellus;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginContainer {
  background-color: #E8EAE5;
  height: 100vh;
  font-family: Marcellus;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  background-color: #E8EAE5;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminContainer {
  background-color: #E8EAE5;
  font-family: Marcellus;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.homeContainer {
  background-color: #E8EAE5;
  height: 100vh;
  font-family: Marcellus;
  width: 100%;
  overflow: hidden;
}

.index {
  z-index: 2;
}

/* HOME COMPONENT */

.homeImg {
  max-width: 95%;
  max-height: 95%;
  z-index: 1;
}

/* ABOUT COMPONENT */

::-webkit-scrollbar {
  display: none
}

.aboutIcon {
  color:#303030;
}

.iconText {
  color:#303030;
  font-style: italic;
  font-family: 'DM Serif Display';
}
  
.headerText {
    color: #303030;
    text-align: center;
    font-size: 75px;
    font-family: 'DM Serif Display';
}

.paragraph {
    color: #303030;
    text-align: center;
    position: relative;
    max-width: 750px;
}

/* PORTFOLIO COMPONENT */

.MuiPagination-ul { 
  justify-content: center; 
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Marcellus;
}

.modal {
  background-color: #E8EAE5;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  margin: 0;
}

.modal-image {
  width: 350px;
  height: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
}


/* CONTACT COMPONENT */

.contact-form {
    border: 3px solid;
    border-color: #303030;
    width: 500px;
    height: 450px;
}

/* FOOTER COMPONENT */

.footerText {
  color: white;
  margin: 0 auto;
}

.footerLink {
  margin: 5px;
  color: white;
}

.social {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;  /* position the social div at the bottom of the footer container */
  width: 100%;
  height: 50px;
}

/* ADMIN COMPONENT */

.projectImageSize {
  width: 164px;
  height: 164px;
}

.modal-admin {
  background-color: #E8EAE5;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.modal-admin-about {
  background-color: #E8EAE5;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 35%;
  overflow-y: scroll;
  max-width: 600px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* RESPONSIVE SECTION */

@media (max-width: 600px) {
  .homeContainer {
    height: 70vh;
  }
  .paragraph {
    max-width: 300px;
  }
  .footerText {
    font-size: 14px;
  }
  .footerLink {
    height: 5px;
    width: 5px;
  }
  .modal {
    width: 80%
  }
  .contact-form {
    width: 300px;
    height: 450px;
  }
  .headerText{
    font-size: 60px;
  }
}
